<footer>
  <div *ngIf="showContactFooter(currentView)" class="rights-footer tall-top-footer">
	<div class="rights-footer-left">
	  <div class="contact-box">
	    <h4> CONTACT US </h4>
    	<ul class="contact-list">
	      <li>
            <fa name="fas fa-map-pin"></fa>
	        Eugene, OR
	      </li>	
	      <li>
            <fa name="fas fa-phone"></fa>
	        (555) 555 - 5555
          </li>
	      <li>
            <fa name="fas fa-envelope"></fa>
	        myemail@mysite.com
	      </li>
	    </ul>
	  </div>
	</div>
	<div class="rights-footer-right">
	  <span class="social-span light-color-fill">
        <a href="" class="social-link">
          <fa name="fab fa-twitter"></fa>
        </a>
        <a href="" class="social-link">
          <fa name="fab fa-facebook"></fa>
        </a>
        <a href="" class="social-link">
          <fa name="fab fa-linkedin"></fa>
        </a>
        <a href="" class="social-link">
          <fa name="fab fa-instagram"></fa>
        </a>
      </span>
	</div>
  </div>

  <div class="rights-footer main-color-fill">
	<div class="rights-footer-left all-rights-reserved">Copyright © 2018 Andrew Hannebrink. All rights reserved.</div>
	<div class="rights-footer-right">
	  <a href="" class="short-bottom-footer-link">Terms & Services</a>
	  <a href="" class="short-bottom-footer-link">Privacy Policy</a>
	</div>
  </div>
</footer>