.tall-top-footer {
  height: auto;
  margin: 20px;
}

.short-bottom-footer {
  height: 70px;
}

.short-bottom-footer-link {
  margin: 10px;
}

.rights-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  flex-wrap: wrap-reverse;
  margin: 0;
}

.rights-footer-left {
  display: flex;
  justify-content: flex-start;
  min-width: 220px;
  margin: auto;
}

.rights-footer-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
  margin: auto;
}

ul.contact-list {
  margin-left: -10px;
  padding: 0;
}

.contact-box {
  padding: 15px;
}

.social-span {
  font-size: x-large !important;
  min-width: 200px;
}

