<div class="login-wrapper">

  <h3>ACCOUNT DETAILS</h3>
  <div class="change-photo-box">
  	<div class="profile-photo"
        [ngClass]="{ 'main-color-fill': !emojiInInitialsCircle }">
      <div *ngIf=true class="profile-initials">
        {{ getProfileInitials() }}
      </div>
  	</div>
  	<button mat-button class="auth-paragraph">Change Photo</button>
  </div>
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="accountDetailUpdates.displayName">
  </mat-form-field>
  <mat-form-field>
    <input matInput disabled placeholder="Email" value="{{getCurrentUserEmail()}}">
  </mat-form-field>

  <p *ngIf="genericError" class="mat-body-1 mat-error">Something went wrong.</p>
  <p *ngIf="accountDetailsSuccessfullyUpdated" class="mat-body-1 success">Your account has been updated.</p>

  <div class="side-by-side-buttons">
    <button mat-button 
        (click)="changeAuthView(AUTH_VIEWS.EXPLORE)"
        class="subtle-button half-length-button">
      Cancel
    </button>
    <button mat-button 
        (click)="updateAccountDetailsClicked(accountDetailUpdates)"
        class="bright-button half-length-button">
      UPDATE
    </button>
  </div>

</div>