<div class="login-wrapper">
  <h3>YOUR REQUEST HAS BEEN RECEIVED</h3>

  <h5>
    Please check your email inbox in 5 minutes and follow the password reset instructions.
  </h5>

  <h6>
    Did not receive the email yet? Check your spam folder. 
  </h6>

  <div class="side-by-side-buttons side-by-side-reverse-wrap-override">
    <button mat-button
        (click)=changeNoAuthView(NO_AUTH_VIEWS.FORGOT_PASSWORD) 
        class="subtle-button half-length-button">
      Re-send email
    </button>
    <button mat-button 
        (click)=changeNoAuthView(NO_AUTH_VIEWS.LOG_IN) 
        class="bright-button half-length-button">
      LOGIN 
    </button>
  </div>
</div>