<div class="login-wrapper">

  <h3>CHANGE PASSWORD</h3>
  <mat-form-field>
    <input matInput placeholder="Old password">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="New password">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Confirm new password">
  </mat-form-field>

  <div class="side-by-side-buttons">
    <button mat-button 
        (click)="changeAuthView(AUTH_VIEWS.EXPLORE)"
        class="subtle-button half-length-button">
      Cancel
    </button>
    <button mat-button 
        class="bright-button half-length-button">
      UPDATE
    </button>
  </div>

</div>
