<div>
  <mat-toolbar>
    <span class="title">🔑 Auth App</span>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-sm="true">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <button mat-button (click)="changeView(VIEWS.DEMO)" class="top-right-greeting-link">Demo</button>
      <button mat-button (click)="changeView(VIEWS.SIGN_UP)" class="top-right-greeting-link">Sign Up</button>
      <button mat-button (click)="changeView(VIEWS.LOG_IN)" class="top-right-greeting-link">Log In</button>
    </div>
    <div fxShow="true" fxHide.gt-xs="true">
      <button (click)="noAuthSideNav.toggle()">
        <mat-icon class='mobile-menu-icon'>view_headline</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #noAuthSideNav position="end" fxLayout="column">
      <app-no-auth-mobile-sidenav
          [changeNoAuthView]="changeView.bind(this)"
          [sidenavToggle]="noAuthSideNav.toggle.bind(noAuthSideNav)">
      </app-no-auth-mobile-sidenav>
    </mat-sidenav>

    <mat-sidenav-content fxFlexFill>
      <div class="page-wrapper">  

        <div class="login-wrapper" *ngIf="currentView === VIEWS.LOG_IN || currentView === VIEWS.SIGN_UP">

          <h3 *ngIf="currentView === VIEWS.LOG_IN">ENTER YOUR LOGIN DETAILS BELOW</h3>
          <h3 *ngIf="currentView === VIEWS.SIGN_UP">CREATE AN ACCOUNT</h3>

          <mat-form-field>
            <input matInput required placeholder="Email" [(ngModel)]="typedEmail">
          </mat-form-field>
          <mat-form-field>
            <input matInput required placeholder="Password" [(ngModel)]="typedPassword" type="password">
          </mat-form-field>
          <mat-form-field *ngIf="currentView === VIEWS.SIGN_UP">
            <input matInput required placeholder="Confirm password" [(ngModel)]="typedConfirmPassword" type="password">
          </mat-form-field>
          <span *ngIf="currentView === VIEWS.SIGN_UP">
            <mat-checkbox [(ngModel)]="termsAgreed"></mat-checkbox>
            I agree to the <a [routerLink]="terms">terms and conditions</a> 
          </span>

          <div class="error-messages">
            <p *ngIf="emailOrPasswordIncorrect" class="mat-body-1 mat-error">Email or password incorrect.</p>
            <p *ngIf="signUpError" class="mat-body-1 mat-error">Could not sign up user.</p>
            <p *ngIf="emailBlank" class="mat-body-1 mat-error">Email is required.</p>
            <p *ngIf="passwordsDontMatch" class="mat-body-1 mat-error">Passwords do not match.</p>
            <p *ngIf="invalidEmail" class="mat-body-1 mat-error">Use a valid email.</p>
            <p *ngIf="weakPassword" class="mat-body-1 mat-error">Password must be six or more characters.</p>
            <p *ngIf="emailAlreadyInUse" class="mat-body-1 mat-error">Email already in use.</p>
            <p *ngIf="termsNotAgreedError" class="mat-body-1 mat-error">You must agree to the terms and services.</p>
            <p *ngIf="accountExistsWithDifferentCredentials" class="mat-body-1 mat-error">You already have an account with us through a different social media provider.</p>
          </div>

          <div class="side-by-side-buttons" *ngIf="currentView === VIEWS.LOG_IN">
              <button mat-button
                (click)="changeView(VIEWS.FORGOT_PASSWORD)"
                class="subtle-button half-length-button">
              Forgot password?
            </button>
            <button mat-button 
                (click)=loginClicked() 
                class="bright-button half-length-button">
              LOGIN
            </button>
          </div>

          <h6 *ngIf="currentView === VIEWS.LOG_IN">
            Not a member yet? Sign up <a href="#" (click)="changeView(VIEWS.SIGN_UP)">here</a>
          </h6>

          <div class="side-by-side-buttons" *ngIf="currentView === VIEWS.SIGN_UP" >
            <button mat-button
                (click)="changeView(VIEWS.LOG_IN)"
                class="subtle-button half-length-button">
              Already a member?
            </button>
            <button mat-button 
                (click)=signupClicked() 
                class="bright-button half-length-button">
              SIGNUP
            </button>
          </div>

          <h3>- OR -</h3>

          <button mat-button 
              (click)=twitterLoginClicked() 
              class="bright-button twitter-blue full-length-button">
            <fa name="twitter"></fa>{{ (currentView === VIEWS.SIGN_UP ? 'SIGNUP' : 'LOGIN') + ' WITH TWITTER' }}
          </button>
          <button mat-button 
              (click)=facebookLoginClicked() 
              class="bright-button facebook-blue full-length-button">
            <fa name="facebook-f"></fa>{{ (currentView === VIEWS.SIGN_UP ? 'SIGNUP' : 'LOGIN') + ' WITH FACEBOOK' }}
          </button>
          <button mat-button 
              (click)=googleLoginClicked() 
              class="bright-button google-red full-length-button">
            <fa name="google"></fa>{{ (currentView === VIEWS.SIGN_UP ? 'SIGNUP' : 'LOGIN') + ' WITH GOOGLE' }}
          </button>
        </div>

        <div class="login-wrapper" *ngIf="currentView === VIEWS.FORGOT_PASSWORD">
          <h3>RESET YOUR PASSWORD</h3>

          <mat-form-field>
            <input matInput required placeholder="Enter your email" [(ngModel)]="typedEmail">
          </mat-form-field>

          <re-captcha (resolved)="captchaResolved($event)" siteKey="6LcLxGUUAAAAAFDffXi7HnaD6dt7DmTxblaGu8nx"></re-captcha>

          <p *ngIf="passwordResetInvalidEmail" class="mat-body-1 mat-error">Invalid email.</p>
          <p *ngIf="userNotFound" class="mat-body-1 mat-error">Something went wrong.</p>
          <p *ngIf="captchaError" class="mat-body-1 mat-error">Check the box.</p>


          <div class="side-by-side-buttons side-by-side-reverse-wrap-override">
            <button mat-button
                (click)=changeView(VIEWS.LOG_IN)
                class="subtle-button half-length-button">
              Cancel
            </button>
            <button mat-button 
                (click)=resetPasswordClicked() 
                class="bright-button half-length-button">
              RESET PASSWORD 
            </button>
          </div>

          <h5>
            An email with a link to reset your password will be sent to you.
          </h5>
        </div>

        <app-no-auth-reset-password 
            *ngIf="currentView === VIEWS.RESET_PASSWORD"
            [changeNoAuthView]="changeView.bind(this)">
        </app-no-auth-reset-password>

        <app-no-auth-confirm-email
            *ngIf="currentView === VIEWS.VERIFY_EMAIL"
            [changeNoAuthView]="changeView.bind(this)">
        </app-no-auth-confirm-email>

        <app-explore
            *ngIf="currentView === VIEWS.DEMO">
        </app-explore>
        
        <app-footer [currentView]="currentView"></app-footer>

      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
