$main-color: #00B092;
$dark-color: #008064;
$light-color: #58e3c2;
$light-color-transparent: #58e3c288;
$background-color: #fdfdfd;
//$background-off-color:
$accent-color: #F9F482;
$off-black: #444;
$light-gray: rgb(247, 248, 242);
$dark-gray: rgb(180, 180, 180);
