<div class="login-wrapper">

  <h3>CHANGE PASSWORD</h3>

  <mat-form-field>
    <input matInput type="password" placeholder="Old password" [(ngModel)]="typedOldPassword">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="New password" [(ngModel)]="typedNewPassword">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Confirm new password" [(ngModel)]="typedConfirmNewPassword">
  </mat-form-field>

  <p *ngIf="passwordsDoNotMatchError" class="mat-body-1 mat-error">Passwords do not match.</p>
  <p *ngIf="weakPassword" class="mat-body-1 mat-error">New password must be six or more characters.</p>
  <p *ngIf="genericError" class="mat-body-1 mat-error">Something went wrong.</p>
  <p *ngIf="passwordSuccessfullyChanged" class="mat-body-1 success">Password successfully changed.</p>

  <div class="side-by-side-buttons">
    <button mat-button 
        (click)="cancelClicked()"
        class="subtle-button half-length-button">
      Cancel
    </button>
    <button mat-button 
        (click)="updatePasswordClicked()"
        class="bright-button half-length-button">
      UPDATE
    </button>
  </div>

</div>
