@import "./utilities/theme-variables";

@font-face {
    font-family: LEAGUESPARTAN;
    src: url("../assets/fonts/LEAGUESPARTAN-BOLD.otf") format("opentype");
}

@font-face {
    font-family: PROXIMANOVA-LT;
    src: url("../assets/fonts/PROXIMANOVA-LIGHT.otf") format("opentype");
}

@font-face {
    font-family: PROXIMANOVA-RG;
    src: url("../assets/fonts/PROXIMANOVA-REGULAR.otf") format("opentype");
}

a {
  font-family: PROXIMANOVA-LT;
  text-decoration: none;
  color: $light-color;
}

a:active {
  color: $accent-color;
}

a:hover {
  color: $accent-color;
}

a.social-link {
  color: $main-color;
}

a.social-link:hover {
  color: $accent-color;
}

a.social-link:active {
  color: $accent-color;
}

button {
  font-family: PROXIMANOVA-LT;
}
 
fa {
  margin: 15px;
}

footer {
  background-color: $light-color;
  color: $dark-color;
  font-family: PROXIMANOVA-LT; 
}

h3 {
  font-family: LEAGUESPARTAN;
  font-size: x-large;
  text-align: center;
  color: $off-black;
  letter-spacing: 1px;
}

h4 {
  font-family: LEAGUESPARTAN;
  font-size: medium;
  text-align: left;
  color: $main-color;
  letter-spacing: 1px;
  margin: 12px;
}

h5 {
  font-size: medium;
  text-align: center; 
  color: $dark-color;
  max-width: 280px;
  line-height: 150%;
}

h6 {
  color: $dark-gray;
  font-size: small;
}

li {
  list-style-type: none;
  margin: 10px 0;
}

mat-checkbox {
  margin-right: 15px;
}

:host ::ng-deep .mat-checkbox-checked.mat-accent {
  .mat-checkbox-background {
    background-color: $main-color;
  }
}
  
:host ::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) {
  &.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: $light-color-transparent;
  }
}

mat-form-field {
  font-family: PROXIMANOVA-LT;
  letter-spacing: 1px;
  text-indent: 10px;
}

:host ::ng-deep .mat-form-field-infix {
  margin-bottom: 15px;
}

//:host ::ng-deep .mat-form-field-underline {
//  background-color: $light-color !important;
//}

:host ::ng-deep .mat-focused {
  color: $main-color !important;
  .mat-form-field-label {
    color: $light-color;
  }
  .mat-form-field-ripple {
    background-color: $light-color !important;
  }
}

.drop-menu-item {
  width: 200px;

  .main-category {
    text-align: left !important;
    font-size: large;
    height: 65px;
  }

  .sub-option {
    text-align: left !important;
    font-size: small;
    padding-left: 55px;
    height: 50px;
  }

  fa {
    margin: 0px !important;
    margin-right: 10px !important;
    color: $dark-color;
  }
}

:host ::ng-deep .mat-tab-labels {
  background-color: $dark-color !important;
  margin: 0;
  padding: 0;
}

:host ::ng-deep .mat-tab-label {
  opacity: 1 !important;
  color: $light-color !important;
}

:host ::ng-deep .mat-tab-label-content {
  font-size: small;
  font-family: PROXIMANOVA-RG;
  letter-spacing: 1px;
}

:host ::ng-deep mat-ink-bar {
  background-color: $accent-color !important;
  height: 5px;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: $main-color !important;

  a, button {
    color: $background-color;
    background-color: $main-color;
    border-color: $main-color;
  }
}

button.top-right-greeting-link {
  color: $background-color;
  background-color: $main-color;
  border-color: $main-color;
}

mat-form-field {
  height: 90px;
  min-width: 100%;
}

span {
  margin: 15px 0;
}

.add-circle {
  max-height: 70px !important;
  max-width: 70px !important;
  min-height: 70px !important;
  min-width: 70px !important;
  border-radius: 35px;
  background-color: $main-color;
  color: $background-color;
  font-size: 70px;
  position:relative;
  top: -60px;
  align-self: flex-end;
}

.bright-button {
    background-color: $main-color !important;
    letter-spacing: 2px;
    font-size: 15px;
    color: $background-color;
}

.facebook-blue {
  background-color: rgb(59, 83, 154) !important;
}

.mobile-menu-icon {
  align-self: flex-end;
  color: white;
  font-size: xx-large;
}

.page-wrapper {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  width: 100vw;
  font-family: PROXIMANOVA-LT;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 90vw;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;


  button {
    margin: 15px 0px;
    height: 60px;
  }  
}

.full-length-button {
  min-width: 100%;
}

.half-length-button {
  flex: 1;
  min-width: 150px;
  max-width: 100%;
}

.side-by-side-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  flex-wrap: wrap-reverse;
}

.google-red {
  background-color: rgb(241, 48, 29) !important;
}

.gray-button {
  background-color: #e1e1e1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.error-messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sub-nav-bar {
  display: flex;
  align-items: flex-end;
  background-color: $dark-color;
  margin: 0;
}

//TODO
.subtle-button {
  color: $dark-gray;
  font-size: 14px;
  letter-spacing: 1px;
  background-color: $light-gray;
}

.success {
  color: $light-color;
}

.title {
  font-family: LEAGUESPARTAN;
  font-size: xx-large;
  letter-spacing: 2px;
  color: $background-color;
}

.top-right-greeting-link {
  font-size: medium;
}

.twitter-blue {
  background-color: rgb(57, 169, 241) !important;
}

.main-color-fill {
  background-color: $main-color;
}

.dark-color-fill {
  background-color: $dark-color;
  color: $main-color !important;
}

.light-color-fill {
  background-color: $light-color;
  color: $main-color !important;
}
