//TODO : fix spacing problem
html, body {
    position: fixed;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.facebook-blue {
  background-color: rgb(59, 83, 154);
}

.mobile-menu-icon {
  align-self: flex-end;
  color: white;
  font-size: xx-large;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  width: 100vw;
}

.google-red {
  background-color: rgb(241, 48, 29);
}

.gray-button {
  background-color: #e1e1e1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.error-messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.success {
  color: limegreen;
}

.twitter-blue {
  background-color: rgb(57, 169, 241);
}