$main-color: #00B092;
$dark-color: #008064;
$light-color: #58e3c2;
$light-color-transparent: #58e3c288;
$background-color: #fdfdfd;
//$background-off-color:
$accent-color: #F9F482;
$off-black: #444;
$light-gray: rgb(247, 248, 242);
$dark-gray: rgb(180, 180, 180);


@font-face {
    font-family: LEAGUESPARTAN;
    src: url("../assets/fonts/LEAGUESPARTAN-BOLD.otf") format("opentype");
}

@font-face {
    font-family: PROXIMANOVA-LT;
    src: url("../assets/fonts/PROXIMANOVA-LIGHT.otf") format("opentype");
}

@font-face {
    font-family: PROXIMANOVA-RG;
    src: url("../assets/fonts/PROXIMANOVA-REGULAR.otf") format("opentype");
}

a {
  font-family: PROXIMANOVA-LT;
}

button {
  font-family: PROXIMANOVA-LT;
}
 
fa {
  margin: 15px;
}

footer {
  //padding: 15px 15px;
  background-color: $light-color;
  color: $dark-color;
  font-family: PROXIMANOVA-LT; 
  height: 150px;
  min-width: 100vw;
  margin-top: 30px;
}

h3 {
  font-family: LEAGUESPARTAN;
  font-size: larger;
  text-align: center;
  color: $off-black;
  letter-spacing: 1px;
}

h5 {
  font-size: medium;
  text-align: center; 
  color: $dark-color;
  max-width: 280px;
  line-height: 150%;
}

h6 {
  color: $dark-gray;
  font-size: small;
}

mat-checkbox {
  margin-right: 15px;
}

:host ::ng-deep .mat-checkbox-checked.mat-accent {
  .mat-checkbox-background {
    background-color: $main-color;
  }
}
  
:host ::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) {
  &.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: $light-color-transparent;
  }
}

mat-form-field {
  font-family: PROXIMANOVA-LT;
  letter-spacing: 1px;
  text-indent: 10px;
}

:host ::ng-deep .mat-form-field-infix {
  margin-bottom: 15px;
}

//:host ::ng-deep .mat-form-field-underline {
//  background-color: $light-color !important;
//}

:host ::ng-deep .mat-focused {
  color: $main-color !important;
  .mat-form-field-label {
    color: $light-color;
  }
  .mat-form-field-ripple {
    background-color: $light-color !important;
  }
}



mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: $main-color !important;

  a {
    color: $background-color;
  }
}

mat-form-field {
  height: 90px;
  min-width: 100%;
}

span {
  margin: 15px 0;
}

.bright-button {
    background-color: $main-color !important;
    letter-spacing: 2px;
    font-size: 15px;
    color: rgb(245, 245, 245);
}

.facebook-blue {
  background-color: rgb(59, 83, 154) !important;
}

.mobile-menu-icon {
  align-self: flex-end;
  color: white;
  font-size: xx-large;
}

.page-wrapper {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  width: 100vw;
  font-family: PROXIMANOVA-LT;
}

.google-red {
  background-color: rgb(241, 48, 29) !important;
}

.gray-button {
  background-color: #e1e1e1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.error-messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.rights {
  margin: 15px;
}

//TODO
.subtle-button {
  color: $dark-gray;
  font-size: 14px;
  letter-spacing: 1px;
  background-color: $light-gray;
}

.success {
  color: $light-color;
}

.title {
  font-family: LEAGUESPARTAN;
  font-size: xx-large;
  letter-spacing: 4px;
  color: $background-color;
}
.twitter-blue {
  background-color: rgb(57, 169, 241) !important;
}