
<div fxShow="true" fxHide.lt-md="true">
  <div parallax class="parallax-banner parallax-banner-desktop banner-1">
  	<h1>"THE LAST AUTH SYSTEM I WILL EVER WRITE"...🤞🏻</h1>
  </div>
</div>
<div fxShow="true" fxHide.gt-sm="true">
  <div parallax class="parallax-banner parallax-banner-mobile banner-1">
  	<h2>"THE LAST AUTH SYSTEM I WILL EVER WRITE"...🤞🏻</h2>
  </div>
</div>

<div class="landing-icon-span">

  <div class="landing-icon-piece">
  	<div class="landing-icon-pic landing-icon-toast"></div>
  	<h5 class="landing-icon-words">
  	  The best things in life are free, except for toast. Authencado is an open source starter repo for Angular apps that use payments or authentication via email, Facebook, Google, or Twitter. Heck, it even comes with this parallax landing page and responsive navigation template.
  	</h5>
  </div>

  <div class="landing-icon-piece">
  	<div class="landing-icon-pic landing-icon-utensils"></div>
  	<h5 class="landing-icon-words">
      Fork this exact web app, cut it in half, or if you can really dig it, use a spoon. Steal this exact website and replace the colors in theme-variables.scss, and images in assets/images. BOOM! New Web App! Ya clients are gonna love ya, kid!
  	</h5>
  </div>

  <div class="landing-icon-piece">
  	<div class="landing-icon-pic landing-icon-tomato"></div>
  	<h5 class="landing-icon-words">
  	  Juicy features save you from building the same systems twice. This includes forgot password, email confirmations, update account, guarded routing, lazily loaded feature modules, Stripe API support, and Firebase integration, and yes, even this landing page.
  	</h5>
  </div>

</div>

<div fxShow="true" fxHide.lt-md="true">
  <div parallax class="parallax-banner parallax-banner-desktop banner-2">
  	<h1>"OH. SO YOU'RE LIKE A GUACER, HUH?"...🤘🏻</h1>
  </div>
</div>
<div fxShow="true" fxHide.gt-sm="true">
  <div parallax class="parallax-banner parallax-banner-mobile banner-2">
  	<h2>"OH. SO YOU'RE LIKE A GUACER, HUH?"...🤘🏻</h2>
  </div>
</div>
