<div>
  <mat-toolbar>
    <span class="title">🔑 Auth App</span>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-sm="true">

      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <app-greeting-drop-down [changeView]="changeView.bind(this)">
      </app-greeting-drop-down>


    </div>
    <div fxShow="true" fxHide.gt-xs="true">
      <button (click)="sidenav.toggle()">
        <mat-icon class='mobile-menu-icon'>view_headline</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div fxShow="true" fxHide.lt-sm="true">
    <mat-tab-group class="sub-nav-bar">
      <mat-tab label="ACCOUNT"></mat-tab>
      <mat-tab label="PASSWORD"></mat-tab>
      <mat-tab label="PAYMENT"></mat-tab>
    </mat-tab-group>
  </div>

  <mat-sidenav-container fxFlexFill>

    <mat-sidenav #sidenav position="end" fxLayout="column">
      <app-auth-mobile-sidenav 
          [changeView]="changeView.bind(this)"
          [sidenavToggle]="sidenav.toggle.bind(sidenav)">
      </app-auth-mobile-sidenav>
    </mat-sidenav>
    

    <mat-sidenav-content fxFlexFill>

		<div class="page-wrapper">

      <app-explore
          *ngIf="currentView === VIEWS.EXPLORE">
      </app-explore>

      <app-profile
          *ngIf="currentView === VIEWS.PROFILE">
      </app-profile>

      <app-account-details
          *ngIf="currentView === VIEWS.ACCOUNT_DETAILS"
          [changeAuthView]="changeView.bind(this)">
      </app-account-details>

      <app-auth-change-password 
          *ngIf="currentView === VIEWS.PASSWORD"
          [changeView]="changeView.bind(this)">
      </app-auth-change-password>

      <app-update-payment-methods
          *ngIf="currentView === VIEWS.PAYMENT"
          [changeView]="changeView.bind(this)">
      </app-update-payment-methods>

      <app-help-center
          *ngIf="currentView === VIEWS.HELP">
      </app-help-center>

      <app-logout 
          *ngIf="currentView === VIEWS.LOG_OUT" 
          [changeView]="changeView.bind(this)">
      </app-logout>

		  <app-footer></app-footer>
		  
		</div>

	</mat-sidenav-content>

  </mat-sidenav-container>
</div>